/* ****************************************
	Navigation-rasponsive css code Start
****************************************** */

@media screen and (max-width: 991px) {
	
	.collapse{
		text-align: center;
	}
	.delivary{
		background-color: #347b25;
		padding: 10px 0;
	}
	.delivary span{
		color: white !important;
		font-weight: 600;
	}
	.navbar-nav li{
		background-color: skyblue !important;
		text-align: center;
	}
	.navbar-nav li:hover{
		background-color: #659bb0 !important; 
	}
	.navbar-nav li a:hover{
		color: white !important;
	}

}

@media screen and (max-width: 358px) {
	
	.navbar-brand{
		width: 70%;
	}
	.navbar-brand img{
		width: 80%;
	}
	
}

/* ****************************************
	Navigation-rasponsive css code End
****************************************** */